{% extends "no-nbeat/layout/page-wordpress.twig" %}

{% block extrahead %}
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=rMML0ogzEX" />
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=rMML0ogzEX" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=rMML0ogzEX" />
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=rMML0ogzEX" />
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=rMML0ogzEX" />
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=rMML0ogzEX" />
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=rMML0ogzEX" />
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=rMML0ogzEX" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=rMML0ogzEX" />
<link rel="icon" type="image/png" href="/favicon-32x32.png?v=rMML0ogzEX" sizes="32x32" />
<link rel="icon" type="image/png" href="/favicon-194x194.png?v=rMML0ogzEX" sizes="194x194" />
<link rel="icon" type="image/png" href="/favicon-96x96.png?v=rMML0ogzEX" sizes="96x96" />
<link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=rMML0ogzEX" sizes="192x192" />
<link rel="icon" type="image/png" href="/favicon-16x16.png?v=rMML0ogzEX" sizes="16x16" />
<link rel="manifest" href="/manifest.json?v=rMML0ogzEX" />
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=rMML0ogzEX" color="#0000ff" />
<link rel="shortcut icon" href="/favicon.ico?v=rMML0ogzEX" />
<meta name="msapplication-TileColor" content="#0000ff" />
<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=rMML0ogzEX" />
<meta name="theme-color" content="#ffffff" />
{% endblock %}

{% block header %}
  {% include "layout/header.twig" %}
{% endblock %}

{% block body %}
  <div id="bd">
    {% block content %}
    {% endblock %}
  </div>

  <div class="modal modal-employee fade" id="empModal" tabindex="-1" role="dialog" aria-labelledby="empModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Lukk</span>
          </button>
          
          <div class="container employee">
            <div class="row">
              <div class="col-xs-12 col-md-4">
                <div class="photo">
                  <img src="/wp-content/themes/NorthernBeat3/img/person.svg" alt="Navn" />
                </div>
              </div>

              <div class="col-xs-12 col-md-8">
                <div class="details">
                  <h2 class="name">Navn</h2>
                  <div class="role">Rolle</div>
                  <div class="email"><a href="">Epost</a></div>
                  <div class="phone">Telefon</div>
                  <div class="text">Beskrivelse</div>
                </div>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include "layout/footer.twig" %}
{% endblock %}

{% block scripts %}
  <script src="{{site.theme.link}}/js/jquery.min.js?ver=2.1.4"></script>
  <script src="{{site.theme.link}}/js/bootstrap.min.js?ver=4a"></script>
  <script src="{{site.theme.link}}/js/nbeat.js"></script>
{% endblock %}
