<footer id="footer" role="pagefooter" class="">
  <section class="container">
    <div>
	  <div class="no-nbeat-logo">
        <img src="{{site.theme.link}}/img/logo-gray.svg" />
	  </div>
      
	  <div class="info">
        <div>
	      <span class="footericon"></span>
	      <h3>Her finner du oss</h3>
		  <p>
            Arbeidersamfunnets plass 1
          </p>
	    </div>
        
	    <div class="col">
	      <span class="footericon"></span>
	      <h3>Send oss en mail</h3>
		  <p>
            <a href="mailto:post@northernbeat.no">post@northernbeat.no</a>
          </p>
	    </div>
      </div>
    </div>
  </section>
</footer>
