<header id="header" class="no-nbeat-bg-blue">
  <section class="container">
    <div class="row">
	  <div id="masthead" class="col-sm-10 col-sm-offset-1">
	    <a href="/" class="no-nbeat-logo">
          <img src="{{site.theme.link}}/img/logo-white.svg" />
	    </a>
	    <button class="hamburger">
		  <span>toggle menu</span>
	    </button>
	  </div>
    </div>

    {% include "layout/mainmenu.twig" %}

  </section>
</header>
