<header>
<section class="contentcontainer">
	<div id="masthead">
		<a href="index.html" class="NBeatlogo">
		</a>
		<button class="hamburger">
			<span>toggle menu</span>
		</button>
	</div>
	<div id="mainmenu" class="background blue hidden">
		<div class="contentcontainer">
			<!--
			<div class="closebutton">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="37" height="37" viewBox="0 0 37 37">
				  <path d="M5.556,-0.015 C5.556,-0.015 18.498,12.938 18.498,12.938 C18.498,12.938 31.440,-0.015 31.440,-0.015 C31.440,-0.015 36.986,5.536 36.986,5.536 C36.986,5.536 24.044,18.489 24.044,18.489 C24.044,18.489 36.986,31.441 36.986,31.441 C36.986,31.441 31.440,36.992 31.440,36.992 C31.440,36.992 18.498,24.040 18.498,24.040 C18.498,24.040 5.556,36.992 5.556,36.992 C5.556,36.992 0.009,31.441 0.009,31.441 C0.009,31.441 12.951,18.489 12.951,18.489 C12.951,18.489 0.009,5.536 0.009,5.536 C0.009,5.536 5.556,-0.015 5.556,-0.015 Z" id="path-1" class="cls-2" fill-rule="evenodd"/>
				</svg>
			</div>
			-->
		</div>
			<ul class="menu">
				<li><a href="case.html">Arbeider</a></li>
				<li><a href="tjenester.html">Tjenester</a></li>
				<li><a href="#">Menneskene</a></li>
				<li><a href="#">Kontakt</a></li>
			</ul>
	</div>
	<p class="slogan">Vi skaper brukeropplevelser som engasjerer, konverterer og begeistrer</p>
</section>
</header>
