<header id="header">
  <section class="content-container">
	<div id="masthead">
	  <a href="/" class="logo">
        <img src="{{site.theme.link}}/img/logo.svg" />
      </a>
	  <button class="hamburger">
		<span>Toggle Menu</span>
	  </button>
	</div>

    {% include "layout/mainmenu.twig" %}

  </section>
</header>
