<div id="mainmenu" class="no-nbeat-mainmenu no-nbeat-bg-blue">
  <ul class="menu">
	<li><a href="/arbeider">Arbeider</a></li>
	<li><a href="/tjenester">Tjenester</a></li>
	<li><a href="/menneskene">Menneskene</a></li>
	<li><a href="/kontakt">Kontakt</a></li>
  </ul>
</div>
