<div id="mainmenu" class="background blue hidden">
  <ul class="menu">
	<li><a href="case.html">Arbeider</a></li>
	<li><a href="tjenester.html">Tjenester</a></li>
	<li><a href="#">Menneskene</a></li>
	<li><a href="#">Kontakt</a></li>
  </ul>
</div>
