{% extends "no-nbeat/layout/page-wordpress.twig" %}

{% block header %}
{% endblock %}

{% block body %}
  <div id="bd-quiz">
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
  <script src="{{ site.theme.link }}/js/jquery.min.js"></script>
  <script src="{{ site.theme.link }}/js/viewport-units-buggyfill.js"></script>
  <script src="{{ site.theme.link }}/js/viewport-units-buggyfill.hacks.js"></script>
  <script src="{{ site.theme.link }}/js/nbeat-quiz.js"></script>
{% endblock %}
