{% extends "no-nbeat/layout/page-wordpress.twig" %}

{% block extrahead %}
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
{% endblock %}

{% block body %}
  <div id="bd-quiz">
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
  <script src="{{ site.theme.link }}/js/jquery.min.js"></script>
  <script src="{{ site.theme.link }}/js/jquery.stayInWebApp.js"></script>
  <script src="{{ site.theme.link }}/js/nbeat-quiz.js"></script>
{% endblock %}
