@mixin nb_flex()
{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

@mixin nb_flex_align_items($pos: center)
{
	-ms-flex-align: $pos;
	-webkit-align-items: $pos;
	-webkit-box-align: $pos;

	align-items: $pos;
}

@mixin nb_flex_wrap($mode: wrap)
{
    flex-wrap: $mode;
    -webkit-flex-wrap: $mode;
}

@mixin nb_flex_justify-content($val: space-between)
{
    -webkit-justify-content: $val;
    justify-content: $val;
}

@mixin nb_flex_direction($dir: row)
{
    flex-direction: $dir;
    -webkit-flex-direction: $dir;
}

@mixin nb_flex_shrink($val: 1)
{
    flex-shrink: $val;
    -webkit-flex-shrink: $val;
}
