@mixin list-item($_margin)
{
    .list-item {
        @include _list-item-single($_margin);
    }


    &.list-of-two {
        .list-item {
            @include media-breakpoint-up(md) {
                @include _list-item-half();

                &:nth-of-type(2n+2) {
                    margin-left: 3%;
                }
            }
        }
    }

    &.list-of-three {
        .list-item {
            @include media-breakpoint-up(md) {
                @include _list-item-half();

                &:nth-of-type(2n+2) {
                    margin-left: 3%;
                }
            }
            
            @include media-breakpoint-up(lg) {
                @include _list-item-third();

                &:nth-of-type(2n+2) {
                    margin-left: 0;
                }

                &:nth-of-type(3n+2) {
                    margin-left: 3%;
                }

                &:nth-of-type(3n+3) {
                    margin-left: 3%;
                }
            }
        }
    }
}

@mixin _list-item-single($_margin)
{
    width: 100%;
    @include scale("margin-top", $_margin);
    overflow: hidden;
}

@mixin _list-item-half()
{
    width: 48.5%;
}

@mixin _list-item-third()
{
    width: 31.333333333%;
}
