@mixin scale($key, $inSize, $append: "", $factors: $_scale, $override: ())
{
    $sizes: "base" "sm" "md" "lg" "xl";

    @each $s in $sizes {
        @include media-breakpoint-up($s) {
            @if (map-has-key($override, $s)) {
                #{$key}: map-get($override, $s);
            } @else {
                @if (map-has-key($factors, $s)) {
                    $factor: map-get($factors, $s);
                } @else {
                    $factor: 1.0;
                }
                            
                #{$key}: ($inSize * $factor)#{$append};
            }
        }
    }
}
