 #footer[role="pagefooter"] {
    background-color: $no-nbeat-footer-bg;
    color: $no-nbeat-footer-color;
    padding: $footer-padding 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: $no-nbeat-footer-height;

    .container {
        @include nb_flex();
        @include nb_flex-align-items(center);
        height: 100%;
        
        > div {
            width: 100%;
            @include nb_flex();
            @include nb_flex_justifycontent();
            @include nb_flex_wrap();
            @include nb_flex-align-items(center);
        }
    }
    
    .col {
    }

    .logo {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 33%;
        }
    }

    .info {
        width: 100%;
        @include nb_flex();
        @include nb_flex_justifycontent();
        @include scale("font-size", $font-size-base);
        margin-top: 1.5rem;
        
        @include media-breakpoint-up(lg) {
            width: 66%;
            margin-top: 0;
        }

        h3 {
            @include scale("font-size", $font-size-h6);
            margin: 0;
            font-weight: bold;
        }
        
        p {
            margin: 0;
        }
    }
}
