#header {
    @include scale("padding-top", $header-padding);
    @include scale("padding-bottom", $header-padding);
    border-top: $header-border-top;
    position: relative;
    z-index: 3;

    &.no-nbeat-fp {
        background: linear-gradient($header-gradient-from, $header-gradient-to),
                    url("#{$theme-path}/img/headerbilde.jpg") no-repeat center center;
        background-size: cover;
    }
    
    .no-nbeat-menubar {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        z-index: $no-nbeat-menubar-zindex;

        > * {
            z-index: $no-nbeat-menubar-zindex;
        }
    }
}
