#header {
    padding-top: $header-padding;
    margin-bottom: $header-padding;
    /* display: block; */
    /* background-color: #fff; */
    /* color: #0000ff; */
    border-top: $header-border-top;

    .no-nbeat-menubar {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        z-index: $no-nbeat-menubar-zindex;

        > * {
            z-index: $no-nbeat-menubar-zindex;
        }
    }
}

 






/*
.frontpage header .NBeatlogo {
    fill: #ffffff;
}
    }
.frontpage header {
    border: none;
    padding-top: 5px;
    margin-bottom: 60px;
}

header 

.frontpage header {
    background: linear-gradient(rgba(0, 0, 255, 0.78), rgba(0, 0, 255, 0.78)), url(../images/toppbilde-fade.jpg) no-repeat center top;
    background-size: cover;
    color: #fff;
}


header .NBeatlogo {
    #Layer_1 {
        width: 120px;
    }
    fill: #0000ff;
}

.frontpage header .NBeatlogo {
    fill: #ffffff;
}















.closebutton {
    text-align: right;
    height: 74px;
    path {
        fill: #ffffff;
    }
}

*/
