// Colors
$colors: (
    white:        rgb(255, 255, 255),
    blue:         rgb(0,     0, 255),
    gray-darkest: rgb(36,   36,  36),
    gray-darker:  rgb(52,   52,  52),
    gray-dark:    rgb(86,   86,  86),
    gray:         rgb(144, 144, 144),
    gray-light:   rgb(214, 214, 214),
    green:        rgb(72,  127,  69),
    orange:       rgb(255, 102,   0),
    purple:       rgb(128,  29, 135)
);

// Specify foreground color for entries in $colors, if they should NOT be #fff
$_fg: (
    white: #333
);
