.content-text {
    line-height: 1.4;
    
    h2 {
        color: inherit;
        font-size: $font-size-h4;
        font-weight: bold;
        margin-bottom: 1.2rem;
    }

    p:last-child {
        margin-bottom: 0;
    }
}
