.content-section {
    @include scale("margin-top", $no-nbeat-article-section-margin);
    @include scale("margin-bottom", $no-nbeat-article-section-margin);
    @include scale("padding-top", $no-nbeat-article-section-padding);
    @include scale("padding-bottom", $no-nbeat-article-section-padding);

    // border: 1px solid red;
    
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .content-subsection {
        // @include scale("margin-top", $no-nbeat-article-section-subcontent-margin);
        // @include scale("margin-bottom", $no-nbeat-article-section-subcontent-margin);

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .content-two-thirds {
        @include two-thirds();
    }

    .content-half {
        @include half();
    }
}
