.content-link {
    padding-top: 0;
    padding-bottom: round(0.5 * $no-nbeat-article-section-padding);
    
    a {
        padding-left: $no-nbeat-article-link-text-left;
        position: relative;
        
        &:before {
            position: absolute;
            top: $no-nbeat-article-link-arrow-top;
            left: 0;
            color: $no-nbeat-article-link-arrow-color;
            font-size: $no-nbeat-article-link-arrow-size;
            content: "\2192";
            line-height: 0;
        }
        
        &:hover {
            &:before {
                text-decoration: none;
            }
        }
    }
}
