article.highlights {
    position: relative;
    margin: 30px 20px 30px;
    overflow: hidden;
    img {
        display: block;
    }
    h1 {
        color: #fff;
        font-size: 1.2em;
        margin: 0;
    }
    p {
        font-size: 1.15em;
    }
    .content {
        position: absolute;
        bottom: 0;
        top: 45%;
        right: 0;
        height: 100%;
        width: 80%;
        padding: 20px;
        color: #fff;
    }
}
