.content-next {
    height: $no-nbeat-article-next-height;
    max-height: $no-nbeat-article-next-height;
    background-size: cover;
    background-position: center center;

    a {
        display: block;
        height: 100%;

        &:hover {
            text-decoration: none;
        }

        > div {
            height: 100%;
            @include flexbox();
            @include align-items(center);

            .container {
                width: 100%;
                
                > div {
                    @include flexbox();
                    @include align-items(center);
                    
                    .left, .right {
                        width: 50%;
                    }
                    
                    .left {
                        @include scale("font-size", $font-size-base, "sm");
                        text-align: center;

                        .arrow {
                            @include scale("font-size", $no-nbeat-article-next-arrow-size);
                            line-height: 1;
                        }
                    }
                    
                    h2.title {
                        color: inherit;
                        @include scale("font-size", $no-nbeat-article-next-title-size);
                        @include scale("margin-bottom", 1.5rem);
                    }

                    .customer {
                        @include scale("font-size", $font-size-base, "sm");
                        margin-bottom: 0;
                    }                        
                }
            }
        }
    }
}
