.content-photo {
    .list-photos {
        @include flexbox();
        width: 100%;
        
        div {
            overflow: hidden;
        }
        
        img {
            width: 100%;
        }
    }
    
    .list-of-one {
        div {
            width: 100%;
        }
    }
    
    .list-of-two {
        @include flex_wrap(wrap);

        div {
            width: 100%;

            @include media-breakpoint-up(lg) {
                width: 50%;
            }
        }
    }
}
