.content-metrics {
    .list-metrics {
        @include list-item(2rem);
        @include nb_flex();
        @include nb_flex_wrap();
        margin-top: $_padding;

        .list-item {
            position: relative;
            margin-left: 1.5rem;

            @include media-breakpoint-up(md) {
                margin-left: 0;
            }

            .value {
                @include scale("font-size", $font-size-h1);
                font-weight: bold;
                margin-bottom: 0.2rem;
                padding-left: 2rem;
                white-space: nowrap;
            }

            .name {
                font-size: $font-size-h6;
                color: #aaa;
                margin-bottom: 0;
                font-weight: 300;
                padding-left: 2rem;
            }
            
            &:before {
                @include scale("font-size", $font-size-h1);
                position: absolute;
                left: 0;
            }
            
            &.list-item-plus {
                &:before {
                    content: "+";
                }
            }

            &.list-item-minus {
                &:before {
                    content: "\2212";
                }
            }

        }
    }
}
