.content-section {
    @include scale("margin-top", $no-nbeat-article-section-margin);
    @include scale("margin-bottom", $no-nbeat-article-section-margin);
    // @include scale("padding-top", $no-nbeat-article-section-padding, "", $_scale, ());
    // @include scale("padding-bottom", $no-nbeat-article-section-padding);
    padding-top: round(1.5 * $no-nbeat-article-section-padding);
    padding-bottom: round(1.5 * $no-nbeat-article-section-padding);

    @include media-breakpoint-up(lg) {
        padding-top: $no-nbeat-article-section-padding;
        padding-bottom: $no-nbeat-article-section-padding;
    }

    @if $debug == true {
        background-image: url($theme-path + "/img/diagonal.png");
        background-repeat: repeat;
        border-top: 1px dashed #575757;
        border-bottom: 1px dashed #575757;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
    
    .content-subsection {
        @include scale("margin-top", $no-nbeat-article-section-subcontent-margin, "", $_scale-aggr);
        @include scale("margin-bottom", $no-nbeat-article-section-subcontent-margin, "", $_scale-aggr);

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .content-two-thirds {
        @include two-thirds();
    }

    .content-half {
        @include half();
    }
}
