.content-text {
    line-height: 1.5;
    @include scale("font-size", $font-size-base, "xs");
    
    h2 {
        color: inherit;
        font-size: $font-size-h4;
        font-weight: bold;
        margin-bottom: 1.2rem;
    }

    .text {

        &.text-columns-2 {
            @include media-breakpoint-up(lg) {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }
        }

        &.text-columns-3 {
            @include media-breakpoint-up(lg) {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
            }
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}
