.no-nbeat-bg-tint {
    opacity: 0.9;
}

.no-nbeat-bg-blue {
    background-color: $_blue;
    color: #fff;
}

.no-nbeat-bg-orange {
    background-color: $_orange;
    color: #fff;
}

.no-nbeat-bg-green {
    background-color: $_green;
    color: #fff;
}

.no-nbeat-bg-gray-dark {
    background-color: $_gray-dark;
    color: #fff;
}

.no-nbeat-bg-gray-darker {
    background-color: $_gray-darker;
    color: #fff;
}
