.case {
    h1, h2, h3 {
        color: #343434;
    }
    &.LHL {
        .casename, blockquote .source:before {
            background-color: #801d87;
        }
        .contentcontainer p a {
            display: inline-block;
            color: inherit;
            text-decoration: none;
            padding-botom: 5px;
            border-bottom: 2px solid #801d87;
        }
        .screenshots {
            background-color: #605a74;
        }
    }
}
