.no-nbeat-bg-tint {
    opacity: 0.9;
}

.no-nbeat-bg-attrs {
    background-color: attr(data-bg bg);
    color: attr(data-bg bg);
}

.no-nbeat-bg-default {
    background-color: $brand-primary;
    color: #fff;
}

@each $color, $bg in $_colors {
    .no-nbeat-bg-#{$color} {
        background-color: $bg;

        @if map-has-key($_fg, $color) {
            color: map-get($_fg, $color);
        } @else {
            color: #fff;
        }
    }

    .no-nbeat-fg-#{$color} {
        color: $bg;
    }
}
    
