.background {
    &.blue {
        background-color: #0000ff;
        color: #fff;
    }
    &.tint {
        &.orange {
            background-color: rgba(255, 102, 0, 0.9);
            color: #fff;
        }
        &.green {
            background-color: rgba(72, 127, 69, 0.9);
            color: #fff;
        }
        &.grey {
            background-color: rgba(60, 60, 60, 0.9);
            color: #fff;
        }
    }
}
