.content-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
    -webkit-transition: padding 0.3s linear;
    transition: padding 0.3s linear;

    @include bp(sm) {
        padding: 30px 60px;
    }
    
    @include bp(md) {
        max-width: 1200px;
        padding: 50px 80px;
    }

    @include bp(lg) {
        padding: 60px 100px;
    }
}
