.debug {
    @include debug();
}

body {
    @if ($debugbp == true) {
        &:before {
            font-size: $font-size-xs;
            position: fixed;
            bottom: 0;
            right: 0;
            background-color: red;
            color: #fff;
            content: "xs";
            z-index: 99999999999;
            text-align: center;
            padding: 0.5vmin 1vmin;

            @include media-breakpoint-up(sm) {
                content: "sm";
            }
            @include media-breakpoint-up(md) {
                content: "md";
            }
            @include media-breakpoint-up(lg) {
                content: "lg";
            }
            @include media-breakpoint-up(xl) {
                content: "xl";
            }
        }
    }
}

