.employee {
    @include nb_flex();
    @include nb_flex_wrap(); 
   
    .photo {
        width: 40%;
        padding-right: 5%;

        img {
            width: 100%;
        }
    }
    
    .details {
        width: 60%;
        @include scale("font-size", $font-size-base);

        .name {
            @include scale("font-size", $no-nbeat-employees-name-size);
            @include scale("margin-top", 0.67rme);
            @include scale("margin-bottom", 0.67rme);
            font-weight: bold;
            line-height: 1.3;
        }
        
        .role {
            margin-top: 0.67rem;
            margin-bottom: 0.67rem;
        }
    }

    .text {
        margin-top: 5%;
        width: 100%;
    }
}
