.employee {
    @include nb_flex();
    @include nb_flex_wrap(); 

    @include media-breakpoint-up(xl) {
        @include nb_flex_direction(column); 
        @include nb_flex_justify_content(flex-start); 
    }

    .photo {
        width: 40%;
        padding-right: 5%;

        @include media-breakpoint-up(md) {
            max-width: 10rem;
        }

        @include media-breakpoint-up(lg) {
            max-width: 15rem;
        }

        @include media-breakpoint-up(xl) {
            max-width: none;
            width: 100%;
        }

        img {
            width: 100%;

            &:hover {
                filter: opacity(0.90);
                -webkit-filter: opacity(0.90);
            }
        }
    }
    
    .details {
        @include scale("font-size", $font-size-sm, "", $_scale_xs);
        width: 60%;

        @include media-breakpoint-up(xl) {
            width: 100%;
            margin-top: 1rem;
        }
        
        .name {
            @include scale("font-size", $no-nbeat-employees-name-size);
            @include scale("margin-top", 0.67rme);
            @include scale("margin-bottom", 0.67rme);
            font-weight: bold;
            line-height: 1.3;
        }
        
        .role {
            margin-top: 0.67rem;
            margin-bottom: 0.67rem;
        }
    }

    .text {
        margin-top: 5%;
        width: 100%;
    }
}
