.employee {
    /* @include flexbox(); */
    /* @include flex_wrap(wrap);  */

    /* @include media-breakpoint-up(xl) { */
    /*     @include flex_direction(column);  */
    /*     @include justify_content(flex-start);  */
    /* } */

    .photo {
        width: 40%;
        padding-right: 5%;

        @include media-breakpoint-up(md) {
            max-width: 10rem;
        }

        @include media-breakpoint-up(lg) {
            max-width: 15rem;
        }

        @include media-breakpoint-up(xl) {
            max-width: none;
            width: 100%;
        }

        img {
            width: 100%;
            @include ease-out();

            &:hover {
                filter: opacity(0.90);
                -webkit-filter: opacity(0.90);
            }
        }
    }
    
    .details {
        @include scale("font-size", $font-size-sm, "xs");
        width: 60%;

        @include media-breakpoint-up(xl) {
            width: 100%;
            // margin-top: 1rem;
        }
        
        .name {
            @include scale("font-size", $font-size-h4, "sm");
            @include scale("margin-bottom", 0.67rem);
            color: color(blue);
            margin: 0;
            font-weight: bold;
            line-height: 1.3;

            @include media-breakpoint-up(xl) {
                margin-top: 0.67rem;
            }
        }
        
        .role {
            margin-top: 0.67rem;
            margin-bottom: 0.67rem;
        }

        .text {
            display: none;
            margin-top: 5%;
            @include scale("font-size", $font-size-base, "xs");
        }
    }

    &.employee-single {
        // @include flexbox();
        // @include flex_direction(row);

        .photo {
            width: 40%;
            max-width: 15rem;
        }

        .details {
            width: 60%;
        }
    }
}

.list-employees {
    .employee {
        @include flexbox();
        @include flex-wrap(wrap);
        
        @include media-breakpoint-up(xl) {
            @include flex_direction(column);
            @include justify-content(flex-start);
        }

        &:hover {
            cursor: pointer;
            cursor: hand;
        }
    }
}

.modal-employee {
    .employee {

        .photo {
            max-width: 67%;
            width: 67%;
            // margin: 0 auto;

            @include media-breakpoint-up(md) {
                max-width: 100%;
                width: 100%;
            }

            img {
                width: 100%;
            }
        }
        
        .details {
            width: 100%;
            padding-top: 2rem;
            
            @include media-breakpoint-up(md) {
                padding: 0 $_padding;
            }
            
            .text {
                display: block;
            }
        }
    }
}
