.list-services {
    .list-item {
        img {
            float: left;
            width: 12%;

            @include media-breakpoint-up(lg) {
                @include scale("margin-bottom", 0.6rem);
                float: none;
                width: 20%;
            }
        }

        .title {
            @include scale("font-size", $font-size-h5, "xs");
            font-weight: bold;
            margin: 0;
            margin-left: 20%;

            @include media-breakpoint-up(lg) {
                @include scale("margin-top", 0.4rem);
                @include scale("margin-bottom", 0.6rem);
                margin-left: 0;
            }
        }
        
        .text { 
            @include scale("margin-top", 0.6rem);
            @include scale("font-size", $font-size-sm, "xs");
            color: $body-color;
            margin-left: 20%;

            @include media-breakpoint-up(lg) {
                margin-left: 0;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: none;

                .title {
                    text-decoration: underline;
                }
                
                .text {
                    text-decoration: none;
                }
            }
        }
    }
}
