.list-case {
    @include clearfix;

    .list-item {
        position: relative;
        overflow: hidden;
        
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .content {
            position: absolute;
            bottom: 0;
            top: 45%;
            right: 0;
            height: 100%;
            width: 80%;
            padding: $_padding;

            @include media-breakpoint-up(sm) {
                top: 0;
                width: 50%;
            }

            .title {
            }

            .byline {
            }

            .text {
            }
        }
    }
}
