.list {
    @include list-item($list-item-margin-vertical);
    
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    @include flexbox();
    @include flex_wrap(wrap);
    @include justify_content(flex-start);
}
