.list {
    @include list-item($list-item-margin-vertical);
    
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    @include nb_flex();
    @include nb_flex_wrap();
    @include nb_flex_justify_content(flex-start);
}
