.list-employees {
    
    .list-item {
        @include _list-item-single($no-nbeat-employees-list-margin);
    }


    &.list-of-two {
        // TBD
    }

    &.list-of-three {
        .list-item {
            @include media-breakpoint-only(lg) {
                @include _list-item-half();

                &:nth-of-type(3n+2) {
                    margin-left: 0;
                }

                &:nth-of-type(3n+3) {
                    margin-left: 0;
                }

                &:nth-of-type(2n+2) {
                    margin-left: 3%;
                }

                &:nth-child(3) {
                    margin-top: $no-nbeat-employees-list-margin;
                }
            }
            
            @include media-breakpoint-only(xl) {
                @include _list-item-third();
                @include scale("margin-top", round(1.5 * $no-nbeat-employees-list-margin));

                &:nth-of-type(2n+2) {
                    margin-left: 0;
                }

                &:nth-of-type(3n+2) {
                    margin-left: 3%;
                }

                &:nth-of-type(3n+3) {
                    margin-left: 3%;
                }
            }
        }
    }
}
