.list-cases {
    @include clearfix;
    @include list-item(7vmin);

    .list-item {
        position: relative;
        overflow: hidden;
        
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .content {
            // @include scale("padding-top", $no-nbeat-cases-content-padding, "", $_scale2);
            // @include scale("padding-left", $no-nbeat-cases-content-padding, "", $_scale2);
            // @include scale("padding-right", $no-nbeat-cases-content-padding, "", $_scale2);
            // @include scale("padding-bottom", $no-nbeat-cases-content-padding, "", $_scale2);
            @include scale("padding", 5vmin, "", (), ("lg": 7.5vmin, "xl": 4rem));

            position: absolute;
            bottom: 0;
            top: 45%;
            right: 0;
            width: 80%;
            height: 55%;

            @include media-breakpoint-down(sm) {
                @include nb_flex();
                @include nb_flex-align-items(center);
                @include nb_flex-direction(column);
                @include nb_flex-justifycontent(center);
            }

            @include media-breakpoint-up(md) {
                height: 100%;
                top: 0;
                width: 50%;
            }

            .title {
                font-weight: bold;
                line-height: 1.3;
                color: inherit;
                margin-bottom: 0;
                width: 100%;
                @include scale("font-size", $no-nbeat-cases-title-size, "", $_scale-case);
            }

            .byline {
                width: 100%;
                @include scale("font-size", $font-size-h6);
                @include scale("margin-top", round(0.3 * $no-nbeat-cases-byline-margin), "", $_scale-case);
                @include scale("margin-bottom", $no-nbeat-cases-byline-margin, "", $_scale-case, ("base": 0, "sm": 0, "md": 1.2rem, "lg": 1.5rem));
            }

            .text {
                display: none;

                @include media-breakpoint-up(md) {
                    font-size: $font-size-xs;
                    display: block;
                }

                @include media-breakpoint-up(lg) {
                    @include scale("font-size", $font-size-h6);
                }
            }
        }
    }
}
