.list {
    @include list-item($list-item-margin-vertical);
    
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    @include nb_flex();
    @include nb_flex_wrap();
}

/*     .list-item { */
/*         margin-top: $list-item-margin-vertical; */
/*         overflow: hidden; */

/*         &:first-child { */
/*             margin-top: 0; */
/*         } */

/*         &:nth-child(2) { */
/*             margin-top: $list-item-margin-vertical; */
/*         } */

/*         &:nth-child(3) { */
/*             margin-top: $list-item-margin-vertical; */
/*         } */
/*     } */
/* } */

/* .list-of-two { */
/*     .list-item { */
/*         @include media-breakpoint-up(md) { */
/*             width: 49%; */
/*             margin-right: 2%; */
            
/*             &:nth-child(2n+2) { */
/*                 margin-right: 0; */
/*             } */
            
/*             &:nth-child(2) { */
/*                 margin-top: 0; */
/*             } */
/*         } */
/*     } */
/* } */

/* .list-of-three { */
/*     .list-item { */
/*         @include media-breakpoint-up(md) { */
/*             width: 49%; */
/*             margin-right: 2%; */

/*             &:nth-child(2) { */
/*                 margin-top: 0; */
/*             } */
            
/*             &:nth-child(2n+2) { */
/*                 margin-right: 0; */
/*             } */
/*         } */

/*         @include media-breakpoint-up(lg) { */
/*             width: 32%; */
/*             margin-right: 2%; */

/*             &:nth-child(3) { */
/*                 margin-top: 0; */
/*             } */

/*             &:nth-child(2n+2) { */
/*                 margin-right: 2%; */
/*             } */
            
/*             &:nth-child(3n+3) { */
/*                 margin-right: 0; */
/*             } */
/*         } */
/*     } */
/* } */
