.list-employees {

    .list-item {

        .photo {
            margin-bottom: 0.67rem;
        }

        .name {
            font-weight: bold;
            margin-top: 0.67rem;
            margin-bottom: 0.67rem;
            font-size: $font-size-h3;
        }

        .role {
            margin-top: 0.67rem;
            margin-bottom: 0.67rem;
        }
    }

    &.list-of-two {
        .list-item {
            .photo {
                width: 40%;
                float: left;
            }
            
            .details {
                margin-left: 45%;
            }
        }
    }
}
