.no-nbeat-mainmenu {
    display: block;
    background: $no-nbeat-mainmenu-background;
    position: absolute;
    left: 0;
    right: 0;
    transition: top 0.4s ease-in-out;
    top: -600px;
    padding-top: $no-nbeat-mainmenu-offset + $no-nbeat-mainmenu-padding;
    padding-bottom: $no-nbeat-mainmenu-padding;
    z-index: $no-nbeat-mainmenu-zindex;
    
    .menu {
        list-style-type: none;
        padding: 0;
        
        li {
            // font-family: "nationale_light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            letter-spacing: 0.02em;
            margin: 1.4em 0;
            
            a {
                display: block;
                font-size: 2.5em;
                text-align: center;
                color: #fff;
                text-decoration: none;
                line-height: 1.5em;
            }
        }
    }
}

#header.is-active {
    .no-nbeat-mainmenu {
        top: 0;
    }
}
