.no-nbeat-mainmenu {
    @include scale("padding-top", $no-nbeat-mainmenu-offset + $no-nbeat-mainmenu-padding);
    @include scale("padding-bottom", $no-nbeat-mainmenu-padding);

    display: block;
    background: $no-nbeat-mainmenu-background;
    position: absolute;
    left: 0;
    right: 0;
    transition: top 0.4s ease-in-out;
    top: -600px;
    z-index: $no-nbeat-mainmenu-zindex;
    
    .menu {
        list-style-type: none;
        padding: 0;
        
        li {
            @include scale("margin-top", 1.4rem);
            @include scale("margin-bottom", 1.4rem);
            letter-spacing: 0.02em;
            
            a {
                @include scale("font-size", $font-size-h1);

                display: block;
                text-align: center;
                color: #fff;
                text-decoration: none;
                line-height: 1.5;
            }
        }
    }
}

#header.is-active {
    .no-nbeat-mainmenu {
        top: 0;
    }
}
