.modal-employee {
    .modal-dialog {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5vh;
    }

    .close {
        position: absolute;
        top: 7vh;
        right: 7vh;
        color: color(blue);
        opacity: 1;
        z-index: 2000;

        &:hover {
            opacity: 0.5;
        }
    }

    .modal-body {
        padding: 7vh;
    }

    .row {
        > div {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
