.no-nbeat-quote {
    // padding: round(2 * $_padding) 0;

    blockquote {
        padding: 0;
        border-left: 0;
        margin-bottom: 0;
        
        p {
            @include scale("font-size", $no-nbeat-quote-size);
            position: relative;
            color: inherit;
            margin-left: 2rem;

            @include media-breakpoint-up(md) {
                margin-left: 0;
            }

            &:before {
                position: absolute;
                content: "\2014 \00A0";
                @include scale("left", -3rem);
            }
        }

        footer {
            @include scale("font-size", $no-nbeat-quote-footer-size);
            color: inherit;
            font-weight: light;
            margin-left: 2rem;
            margin-top: $_padding;

            @include media-breakpoint-up(md) {
                margin-left: 0;
            }

            &:before {
                content: "";
            }
        }
    }
}

.no-nbeat-bg-blue {
    .no-nbeat-quote {
        padding: round(2 * $_padding) 0;
    }
}
