$_scale-slogan: (
    "base": 0.36,
    "sm": 0.36,
    "md": 0.45,
    "lg": 0.67,
    "xl": 1
);

.slogan {
    @include responsive-padding-vertical($slogan-padding-top, $slogan-padding-bottom);
    @include hyphenation();
    @include scale("font-size", $no-nbeat-slogan-font-size, "", $_scale-slogan);

    line-height: $no-nbeat-slogan-line-height;
    font-weight: $slogan-font-weight;
    letter-spacing: $slogan-letter-spacing;
    margin: 0;
}
