.slogan {
    @include hyphenation();
    font-size: 6vw;
    line-height: $no-nbeat-slogan-line-height;
    font-weight: $slogan-font-weight;
    letter-spacing: $slogan-letter-spacing;
    margin: 0;

    @include media-breakpoint-up(sm) {
        font-size: 4.9vw;
    }

    @include media-breakpoint-up(md) {
        font-size: 4vw;
    }

    @include media-breakpoint-up(lg) {
        font-size: 4.39vw;
    }

    @include media-breakpoint-up(xl) {
        font-size: $no-nbeat-slogan-font-size;
    }

}
