.slogan {
    @include responsive-padding-vertical($slogan-padding-top, $slogan-padding-bottom);
    
    font-size: $slogan-font-size-xs;
    font-weight: $slogan-font-weight;
    letter-spacing: $slogan-letter-spacing;
    line-height: $slogan-line-height;
    margin: 0;
    
    @include media-breakpoint-up(sm) {
        font-size: $slogan-font-size-sm;
    }

    @include media-breakpoint-up(xl) {
        font-size: $slogan-font-size-xl;
    }
}
