{% extends "modules/content-field.twig" %}

{% block fieldContent %}
  <div class="content-section content-listview">

    {% if "text" == field.getWidth() %}
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
    {% elseif "grid" == field.getWidth() %}
      <div class="container">
    {% endif %}

    {% if "case" == field.getItemType() %}
      {% include "modules/list-cases.twig" with {"posts":   field.getItems(),
                                                 "classes": field.getListClasses()} %}
    {% elseif "employee" == field.getItemType() %}
      {% include "modules/list-employees.twig" with {"posts":   field.getItems(),
                                                     "classes": field.getListClasses()} %}
    {% elseif "service" == field.getItemType() %}
      {% include "modules/list-services.twig" with {"posts":   field.getItems(),
                                                    "classes": field.getListClasses()} %}
    {% endif %}

    {% if "text" == field.getWidth() %}
          </div>
        </div>
      </div>
    {% elseif "grid" == field.getWidth() %}
      </div>
    {% endif %}

  </div>
{% endblock %}
