{% extends "modules/content-field.twig" %}

{% block fieldContent %}
  <div class="content-section content-contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 offset-lg-1">
          
          {% set contact = post.getContactUs() %}
          <div class="content-header content-subsection content-half">
            {% if field.getHeading() %}
              <h2>{{field.getHeading()}}</h2>
            {% else %}
              <h2 class="sr-only">Kontakt oss for mer informasjon</h2>
            {% endif %}

            {% if field.getIngress() %}
              <div class="ingress">
                {{field.getIngress()}}
              </div>
            {% endif %}
          </div>
          
          <div class="content-list content-subsection">
            <ul class="list list-archive list-employees list-of-three">
              {% for post in field.getEmployees() %}
                {{ include("modules/list-item-employee.twig") }}
              {% else %}
                <li>Ingen ansatte lagt inn.</li>
              {% endfor %}
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
{% endblock %}
