{% extends "modules/content-field.twig" %}

{% block fieldContent %}
  <div class="content-section {{field.getCssClasses()}}">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 offset-lg-1">
          {% include "modules/quote.twig" with {quote: field.getQuote()} %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
