<h2 class="sr-only">Arbeider</h2>

<ul class="list list-archive list-cases {{classes}}">
  {% for post in posts %}
    {{ include("modules/list-item-case.twig") }}
  {% else %}
    <li>Fant ingen arbeider</li>
  {% endfor %}
</ul>
