<ul class="list list-archive list-employees {{classes}}">
  {% for post in posts %}
    {{ include("modules/list-item-employee.twig") }}
  {% else %}
    <li>Ingen ansatte lagt inn.</li>
  {% endfor %}
</ul>
