<ul class="list list-archive list-services {{servicesListClasses}}">
  {% for post in posts %}
    {{ include("modules/list-item-service.twig") }}
  {% else %}
    <li>Ingen tjenester er lagt inn</li>
  {% endfor %}
</ul>
