<div class="no-nbeat-quote">
  <blockquote class="blockquote">
    <p>{{quote.getText()}}</p>

    {% if quote.hasFooter() %}
    <footer>{{quote.getName()}}, {{quote.getCustomer()}}</footer>
    {% endif %}
  </blockquote>
</div>
