h1 {
    font-size: $font-size-h1;
}

body {
    @if ($debugbp == true) {
        &:before {
            font-size: $font-size-xs;
            position: fixed;
            top: 0;
            left: 0;
            background-color: red;
            color: #fff;
            content: "xs";
            z-index: 99999999999;
            text-align: center;
            padding: 0.5vmin 1vmin;

            @include media-breakpoint-up(sm) {
                content: "sm";
            }
            @include media-breakpoint-up(md) {
                content: "md";
            }
            @include media-breakpoint-up(lg) {
                content: "lg";
            }
            @include media-breakpoint-up(xl) {
                content: "xl";
            }
        }
    }
}

// html {
//     font-size: 13px;
//     font-family: "nationale_regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
//     color: #343434;
// }

// body {
//     margin: 0;
//     padding: 0;
// }

// * {
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

// h1 {
//     font-family: "nationale_demibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
//     font-size: 2.2em;
//     margin: 0.25em 0;
//     color: #0000ff;
// }

// h2 {
//     font-family: "nationale_demibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
//     font-size: 1.85em;
//     margin: 0.25em 0;
//     letter-spacing: 0.01em;
//     color: #0000ff;
// }

// h3 {
//     font-size: 1.4em;
//     margin: 0.25em 0;
//     color: #0000ff;
// }

// p {
//     line-height: 160%;
//     &.lead {
//         font-size: 1.2em;
//     }
// }

// .contentcontainer p {
//     font-size: 1.2em;
// }

// blockquote {
//     font-family: "nationale_light", "Helvetica Neue", Helvetica, Arial, sans-serif;
//     font-size: 1.8em;
//     letter-spacing: 0.01em;
//     line-height: 1.5em;
//     margin: 30px 0;

//     .source {
//         display: block;
//         margin-top: 30px;
//         font-size: 0.6em;

//         &:before {
//             display: block;
//             content: "";
//             width: 30px;
//             height: 2px;
//             margin: 40px 0 30px;
//             background: #0000FF;
//         }
//     }
// }

// .background.blue blockquote .source:before {
//     background: #FFFFFF;
// }

// img {
//     max-width: 100%;
//     height: auto;
// }
