@font-face {
    font-family: "nationale_regular";
    src: url($theme-path + "/fonts/nationale-regular-webfont.eot");
    src: url($theme-path + "/fonts/nationale-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url($theme-path + "/fonts/nationale-regular-webfont.woff") format("woff"),
         url($theme-path + "/fonts/nationale-regular-webfont.ttf") format("truetype"),
         url($theme-path + "/fonts/nationale-regular-webfont.svg#nationale_regular") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "nationale_demibold";
    src: url($theme-path + "/fonts/nationale-demibold-webfont.eot");
    src: url($theme-path + "/fonts/nationale-demibold-webfont.eot?#iefix") format("embedded-opentype"),
         url($theme-path + "/fonts/nationale-demibold-webfont.woff") format("woff"),
         url($theme-path + "/fonts/nationale-demibold-webfont.ttf") format("truetype"),
         url($theme-path + "/fonts/nationale-demibold-webfont.svg#nationale_demibold") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "nationale_light";
    src: url($theme-path + "/fonts/nationale-light-webfont.eot");
    src: url($theme-path + "/fonts/nationale-light-webfont.eot?#iefix") format("embedded-opentype"),
         url($theme-path + "/fonts/nationale-light-webfont.woff") format("woff"),
         url($theme-path + "/fonts/nationale-light-webfont.ttf") format("truetype"),
         url($theme-path + "/fonts/nationale-light-webfont.svg#nationale_light") format("svg");
    font-weight: normal;
    font-style: normal;
}
