{% extends "layout/default.twig" %}

{% block content %}
  <article>
  
    <section class="content-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <h1 class="has-branding">Kunne ikke finne siden</h1>
          </div>
        </div>
      </div>
    </section>

  </article>
  
{% endblock %}


