{% extends "layout/default.twig" %}

{% block content %}
  <div class="article container">
    <div class="section content-section">
      {% include "modules/list-cases.twig" %}
    </div>
  </div>
{% endblock %}
