{% extends "layout/default.twig" %}

{% block content %}
  <article class="container">
    <section class="content-section">
      {% include "modules/list-cases.twig" %}
    </section>
  </article>
{% endblock %}
