{% extends "layout/default.twig" %}

{% block content %}
  <article>
    
    <section class="content-section content-pageheader content-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 two-thirds">
            <h1 class="has-branding">Tjenester</h1>
            
            <div class="ingress">
              Vi er her for å hjelpe deg med å finne ut hva du skal bruke
              digitale kanaler til. Vi er blant de beste i landet på å
              jobbe ut verdiskapende kommunikasjonskonsepter. Våre kunder
              og det de oppnår viser oss dette.
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="content-section content-list">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 two-thirds">
            {% include "modules/list-services.twig" with {"classes": "list-of-three"} %}
          </div>
        </div>
      </div>
    </section>

  </article>
{% endblock %}
