{% extends "layout/default.twig" %}

{% block content %}
  <section class="container">
    {% include "modules/list-services.twig" with {"listClasses": "list-of-three"} %}
  </section>
{% endblock %}
