{% extends "layout/default.twig" %}

{% block content %}
  <div class="container">

    {% if post.post_type == "case" %}
      {% include "pages/case.twig" %}
    {% elseif post.post_type == "employee" %}
      {% include "pages/employee.twig" %}
    {% elseif post.post_type == "service" %}
      {% include "pages/service.twig" %}
    {% else %}
      Ukjent sidetype
    {% endif %}

  </div>
{% endblock %}
